/* Elimina margen y padding de todos los elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Asegura que el padding y el borde no afecten al tamaño del elemento */
}

/* Asegura que los enlaces no tengan subrayado por defecto */
a {
  text-decoration: none;
  color: inherit; /* Para que el enlace herede el color del texto donde se inserta */
}

/* Establece un diseño flexible y eliminamos espacios extra en imágenes */
img, video {
  max-width: 100%;
  height: auto;
}

/* Resetea los títulos */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

/* Evita bordes feos en formularios y botones */
button, input, textarea, select {
  font: inherit; /* Para heredar la tipografía del elemento padre */
  border: none;
  outline: none;
}